<div class="ui two column grid shop__selector--category">
  {{#link-to 'shop.category' 'concessions' class="ui column shop__category-selector category-selector__concessions"}}
    <div class="selector__overlay"></div>
    <div class="selector__content">Concessions</div>
  {{/link-to}}
  {{#link-to 'shop.category' 'other' class="ui column shop__category-selector category-selector__other"}}
    <div class="selector__overlay"></div>
    <div class="selector__content">Specialty/Other</div>
  {{/link-to}}
</div>
