<div class="item nav__logo-item">
  <div class="nav__logo">busy<i>.</i></div>
</div>

<div class="right menu">
  <a href="#" class="item">Our Process</a>
  {{#link-to 'shop.index' class="item"}}Shop{{/link-to}}
  <a href="#" class="item">Get in Touch</a>
</div>
